<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head('게시판')">
<!-- Bootstrap CSS -->
	<link rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
		crossorigin="anonymous">
	<link th:href="@{/css/common.css}" rel="stylesheet">
</head>
<body>
	<nav th:replace="fragments/common :: menu('board')"></nav>
	
	<div class="container">
		<h2>게시글</h2>
		<div class="mt-5">
			<div th:text="${board.title}" style="font-size: 50px;"></div>
			<strong><span th:text="${board.member.id}" style="font-size: 20px"></span></strong>
			<span class="ml-3" th:text="${#dates.format(board.regDate,'yy-MM-dd HH:mm')}" style="color: gray;"></span>
			<span class="ml-3" th:text="'조회 ' + ${board.viewCnt}" style="color: gray;"></span>
			<div class="border-bottom border-top my-4" th:text="${board.contents}" style="height: 400px; font-size: 25px;"></div>
			<div>
				<a type="button" class="btn btn-primary" th:href="@{'/board/update/' + ${board.boardNo}}"
					th:if="${#authentication.principal.memberNo == board.writerNo}">수정</a>
				<a type="button" class="btn btn-outline-danger" th:onclick="del([[${board.boardNo}]])"
					th:if="${#authentication.principal.memberNo == board.writerNo}">삭제</a>
                <a type="button" class="btn btn-primary float-right" th:href="@{/board/list}">뒤로</a>
            </div>
		</div>
	</div>

	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
        
    <script>
		function del(boardId) {
			var chk = confirm("정말 삭제하시겠습니까?");
			if (chk) {
				console.log();
				location.href = 'delete/' + boardId;
			}
		}	
	</script>
        
</body>
</html>