<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common :: head('게시판')">
<!-- Bootstrap CSS -->
	<link rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
		crossorigin="anonymous">
	<link th:href="@{/css/common.css}" rel="stylesheet">
</head>

<body>
	<nav th:replace="fragments/common :: menu('board')"></nav>

    <div class="container">
        <h2>글수정</h2>

        <form id="writeForm" class="mt-5" th:object="${board}" th:action="@{/board/update}" method="post">
        
        	<input type="hidden" th:field="*{boardNo}" th:value="${board.boardNo}">
        	<input type="hidden" th:field="*{writerNo}" th:value="${board.writerNo}">
        	<input type="hidden" th:field="*{regDate}" th:value="${board.regDate}">
        	<input type="hidden" th:field="*{viewCnt}" th:value="${board.viewCnt}">
        	
            <div class="form-group">
                <label for="title">제목</label>
                <input type="text" class="form-control" id="title" th:field="*{title}" placeholder="제목을 입력해 주세요" th:value="${board.title}">
            </div>

            <div class="form-group">
                <label for="contents">내용</label>
                <textarea class="form-control" id="contents" th:field="*{contents}" rows="18"
                    placeholder="내용을 입력해 주세요" th:text="${board.contents}"></textarea>
            </div>

            <div>
                <a type="button" class="btn btn-outline-danger" th:href="@{/board/list}">취소</a>
                <button id="submitBtn" type="button" class="btn btn-primary float-right">수정</button>
            </div>
        </form>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
        
    <script src="/js/write.js"></script>
</body>

</html>