body {
    padding-top: 5rem;
}
.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
    height: 200px;
}

.login_form {
    border: 1px solid;
    padding: 15px;
    float: right;
    text-align: center;
    width: 350px;
}